{{template "views/partials/header" .}}

<div class="container" id="body">
    <div class="row">
        <div style="margin-top: 15%">
            <h1>Em construção</h1>
            <h4>Páginas</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/guests">Clientes</a></li>
                <li><a href="/guests/create">Cadastrar Cliente</a></li>
                <li><a href="/employees">Funcionários</a></li>
                <li><a href="/employees/create">Cadastrar Funcionário</a></li>
                <li><a href="/places">Pontos</a></li>
                <li><a href="/places/create">Cadastrar Ponto</a></li>
                <li><a href="/menus">Menus</a></li>
                <li><a href="/menus/create">Cadastrar Menu</a></li>
            </ul>
        </div>
    </div>
</div>

{{template "views/partials/footer" .}}
